<%= form_for @article  do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>There is <%= pluralize(@article.errors.count, "error") %>.</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form">
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :detail %><br />
      <%= f.text_field :detail %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
